<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/custom.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/customs.css') }}">
    <!-- <style>
      body{
        background-color: red;  
      }
    </style> -->
    <title>Student Panel</title>
  </head>
  <body>
   


   <nav class="navbar navbar-expand-lg" id="my">
  <a class="navbar-brand" href="#" id="my"><h3>STUDENT PANEL</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">v</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">XXXXX<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">XXXXX</a>
      </li>
      <li>
          <div class="dropdown pr-2">
  <button class="btn dropdown-toggle " type="button" id="drpdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Forms
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Proctor Form</a>
    <a class="dropdown-item" href="#">Internship Form</a>
    <a class="dropdown-item" href="#">Other Forms</a>
  </div>
</div>
      </li>
      <li>
          <div class="dropdown ">
  <button class="btn dropdown-toggle" type="button" id="drpdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Forms
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Proctor Form</a>
    <a class="dropdown-item" href="#">Internship Form</a>
    <a class="dropdown-item" href="#">Other Forms</a>
  </div>
</div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">XXXXX</a>
      </li>
    </ul>
    
    <div class="dropdown px-2">
  <button class="btn dropdown-toggle" type="button" id="my" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Name of student
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">View profile</a>
    <a class="dropdown-item" href="#">Edit profile</a>
    <a class="dropdown-item" href="#">View details</a>
  </div>
</div>
    
    <a class="navbar-brand px-2" href="#" id="profile_photo">
    <img src="img/avatar-4.jpg" width="30" height="30" alt="">
  </a>
  </div>
</nav>
   
   <div class="mx-2">
   <div class="row"> 
   <div class="col-md-8" id="column-1">
        <div class="py-3">
           <b>View Documents/Forms:</b>
       </div>
       <div class="row">
           <div class="card mx-3 my-3" style="width: 13rem;height: 13rem;">
           
  <div class="card-body">
    <h6 class="card-title">Proctor Form</h6>
    <h6 class="card-subtitle mb-2 text-muted">Submited</h6>
    <p class="card-text"></p>
    <a href="{{url_for('displaypform')}}" class="card-link">View</a>
    <a href="{{url_for('deletepform')}}" class="card-link">Delete</a>
  </div>
</div>
      <div class="card mx-3 my-3" style="width: 13rem;height: 13rem;">
  <div class="card-body">
    <h6 class="card-title">Internship Forms</h6>
    <h6 class="card-subtitle mb-2 text-muted">Submited</h6>
    <p class="card-text"></p>
    <a href="{{url_for('displayiform')}}" class="card-link">View</a>
    <a href="{{url_for('deleteiform')}}" class="card-link">Delete</a>
  </div>
</div>
      <div class="card mx-3 my-3" style="width: 13rem;height: 13rem;">
  <div class="card-body">
    <h6 class="card-title">Other Forms</h6>
    <h6 class="card-subtitle mb-2 text-muted">Submited</h6>
    <p class="card-text"></p>
    <a href="#" class="card-link">View</a>
    <a href="#" class="card-link">Delete</a>
  </div>
</div>
       <div class="card mx-3 my-3" style="width: 13rem;height: 13rem;">
  <div class="card-body">
    <h6 class="card-title">Other Forms</h6>
    <h6 class="card-subtitle mb-2 text-muted">Submited</h6>
    <p class="card-text"></p>
    <a href="#" class="card-link">View</a>
    <a href="#" class="card-link">Delete</a>
  </div>
</div>

       </div>
       
       <div class="row">
           <div class="col-md-6" >
               <div class="">
       <div class="py-3">
           <b>Marks:</b>
       </div>
       <div class="btn-group-vertical" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary my-2">Unit Test 1</button>
  <button type="button" class="btn btn-secondary my-2">Unit Test 2</button>
  <button type="button" class="btn btn-secondary my-2">End Semester</button>
</div>
      </div>
           </div>
           <div class="col-md-6"  >
               <div class="">
       <div class="py-3">
           <b>Attendance:</b>
       </div>
       <div class="btn-group-vertical" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary my-2">Unit Test 1</button>
  <button type="button" class="btn btn-secondary my-2">Unit Test 2</button>
  <button type="button" class="btn btn-secondary my-2">End Semester</button>
</div>
      </div>
           </div>
           
       </div>
       
       
       
      
       
       
       
        
        
        
        
        
        
   </div>
   <div class="col-md-4" id="column-2">
       <div class="py-3" align="center">
           <b>Notifications</b>
       </div>
       <div class="form-group">
    
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      
    </select>
  </div>
  <div class="py-3" align="center">
           <b>Request</b>
       </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">To:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="proctor@somaiya.edu">
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Compose mail here:</label>
    <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="3" placeholder="Type here"></textarea>
    <button class="btn " type="submit" id="send_btn">Send </button>
  </div>
  </div>
   </div>
   
   
       
       
   </div>
   </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>