<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
<title>Student Panel</title>
</head>
<body>



<nav class="navbar navbar-expand-lg" id="my" style="background-color: #005582;">
<a class="navbar-brand" href="#" id="my"><h3 style="color: white;font-size: larger;">STUDENT PANEL</h3></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon">v</span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" style="color: white;" href="{{url_for('login')}}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: white;" href="{{url_for('logout')}}">Log out</a>
  </li>
</ul>

<div class="dropdown px-2">
<button class="btn dropdown-toggle" type="button" id="my" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{{pform.name_of_student}}
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <span class="dropdown-item">email id : {{pform.stu_email_id}}</span>
  <!-- <span class="dropdown-item">email id :</span> -->

<!-- <a class="dropdown-item" href="#">View profile</a>
<a class="dropdown-item" href="#">Edit profile</a>
<a class="dropdown-item" href="#">View details</a> -->
</div>
</div>

<a class="navbar-brand px-2" href="#" id="profile_photo">
  {% if pform!=None %}
  {% set profile_pic="profiles/" + pform.photo %}
  <img src="{{ url_for('static' , filename=profile_pic) }}" width="30" height="30" alt="">
  {% else %}
  <img src="{{ url_for('static' , filename='img/user_icon.png') }}" width="30" height="30" alt="">
  {% endif %}

</a>
</div>
</nav>



{% with messages= get_flashed_messages(with_categories=true) %}
{%if messages%}
    {% for category,message in messages%}
    <div class="alert alert-{{category}} myMessage">
        {{message}}
    </div>
    {%endfor%}
{% endif %}
{% endwith %}

<style>
    .myMessage{
        margin: 0;
        font-weight: bold;
        
    }
</style>

<div class="container-fluid" style="background-color: #bdd4e7;
background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
">
<div class="container" style="background-color: white;">
<div class="mx-2">
<div class="row"> 
<div class="col-md-8" id="column-1">
    <div class="py-3">
        <b>View Documents/Forms:</b>
    </div>
    <div class="ref">
    <div class="row" >
        <div class="card mx-3 my-3" style="width: 13rem;height: 8rem;">
        
<div class="card-body">
<h6 class="card-title">Proctor Form</h6>
<hr style="width: 100%;background-color: black;">
{% if pform != None %}
<h6 class="card-subtitle mb-2 text-muted" style="color: green !important;">Submited</h6>
<a href="{{url_for('displaypform')}}" class="card-link">View</a>
<a href="{{url_for('deletepform')}}" class="card-link">Delete</a>
{% else %}
<h6 class="card-subtitle mb-2 text-muted" style="color: red !important;">not Submited</h6>
<a href="{{url_for('displaypform')}}" class="card-link">Fill Form</a>

{% endif %}
<!-- <p class="card-text"></p> -->

</div>
</div>
  <div class="card mx-3 my-3" style="width: 13rem;height: 8rem;">
<div class="card-body">
<h6 class="card-title">Internship Form</h6>
<hr style="width: 100%;background-color: black;">

{% if iform != None %}
<h6 class="card-subtitle mb-2 text-muted">Submited</h6>
<a href="{{url_for('displayiform')}}" class="card-link">View</a>
<a href="{{url_for('deleteiform')}}" class="card-link">Delete</a>
{% else %}
<h6 class="card-subtitle mb-2 text-muted" style="color: red !important;">not Submited</h6>
<a href="{{url_for('displayiform')}}" class="card-link">Fill Form</a>
{% endif %}
<!-- <h6 class="card-subtitle mb-2 text-muted">Submited</h6> -->
<!-- <p class="card-text"></p> -->
</div>
</div>
  <!-- <div class="card mx-3 my-3" style="width: 13rem;height: 13rem;">
<div class="card-body">
<h6 class="card-title">Other Forms</h6>
<h6 class="card-subtitle mb-2 text-muted">Submited</h6>
<p class="card-text"></p>
<a href="#" class="card-link">View</a>
<a href="#" class="card-link">Delete</a>
</div>
</div> -->
    </div>
    <div class="py-3">
      <b>Other certificates:</b>
  </div>
    <div style="width:100%;height:150px;overflow:scroll;overflow-y:scroll;overflow-x:hidden;border: solid black 2px;">
      {% for k in certificates %}
      <div class="row" style="background-color: #005582;padding: 5px;margin-bottom: 2px;">

        <div class="col-md-10" style="color: white;">
          {{k.fname}}
        </div>
        <div class="col-md-2">
          {% set show_cert="certificates/" + k.fname %}
          <a href="{{url_for('uploaded_file',filename=show_cert)}}"><button class="btn btn-primary" >Show</button></a>
        </div>
      </div>
      {% endfor %}

    </div>

    <br>
    <div class="uploadfiles">
      <h6>upload your certificates here</h6>
      <a href="{{url_for('upload_file')}}" ><button class="btn btn-primary">Upload Certificates</button></a>
    </div>
    
    <hr style="background-color: black;">
  </div>
    <div class="row">
        <div class="col-md-6" style="border-right: solid 1px black;" >
            <div class="">
    <div class="py-3">
        <b>Marks:</b>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Basic example">
<button type="button" class="btn btn-secondary my-2">Unit Test 1</button>
<button type="button" class="btn btn-secondary my-2">Unit Test 2</button>
<button type="button" class="btn btn-secondary my-2">End Semester</button>
</div>
  </div>
        </div>
        <div class="col-md-6"  >
            <div class="">
    <div class="py-3">
        <b>Attendance:</b>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Basic example">
<button type="button" class="btn btn-secondary my-2">Unit Test 1</button>
<button type="button" class="btn btn-secondary my-2">Unit Test 2</button>
<button type="button" class="btn btn-secondary my-2">End Semester</button>
</div>
  </div>
        </div>
        
    </div> 
    
</div>
<div class="col-md-4" id="column-2" style="border-left: 1px solid black;">
    <div class="py-3" align="center">
        <b>Notifications</b>
    </div>
    <div class="form-group">


<div style="width:100%;height:250px;overflow:scroll;overflow-y:scroll;overflow-x:hidden;">
  <button class="accordion">Notification 1</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, quos.</p>
</div>

<button class="accordion">Notification 2</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis amet saepe sed quasi minima voluptatum.</p>
</div>

<button class="accordion">Notification 3</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti minima quia dignissimos vero repudiandae eligendi quam nostrum maiores ducimus rem?  </p>
</div>
<style>
.accordion {
  background-color: #eee;
  margin-bottom: 5px;
  color: #444;
  cursor: pointer;
  padding: 7px 0px 7px 0px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 10px;
  background-color: white;
  display: none;
  overflow: hidden;
}
</style>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");

    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
</div>
<div class="py-3" align="center" style="border-top: solid 1px black;">
        <b>Request</b>
    </div>
<div class="form-group">
  <form action="/StudentPanel" method="POST">
    <div class="to" style="border: solid black 1px;padding: 5px;margin-bottom: 5px;">
      <span style="font-weight: bold;">To :</span>
      {{pform.email_of_proctor}}
    </div>

<!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="proctor@somaiya.edu" name="email"> -->
<div class="form-group">
<label for="exampleFormControlTextarea1" style="font-weight: bold;">Compose mail here:</label>
<textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="3" placeholder="Type here" name="message"></textarea>

<a href="/sMail">
  <button class="btn btn-primary" type="submit" id="send_btn">Send </button>
</a>

<!-- <button class="btn btn-primary" type="submit" id="send_btn">Send </button> -->
</div>
</form>
</div>
</div>


    
    
</div>
</div>
</div>
</div>
<br>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>